.header {
    background-color: #222222;
    color: #f2f2f2;
    flex-shrink: 0;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
}

.headerTitle {
    margin-left: 0.5rem;
    font-weight: 600;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: calc(100vh - 10rem);
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 64rem;
    padding-top: 4rem;
}

.chatEmptyStateTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.chatEmptyStateSubtitle {
    font-weight: 400;
    color: #616161;
    margin-bottom: 1.5rem;
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 64rem;
    width: 100%;
    overflow-y: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 1.25rem;
    max-width: 100%;
    display: flex;
}

.chatMessageGptMinWidth {
    max-width: 31.25rem;
    margin-bottom: 1.25rem;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 64.25rem;
    background: #f2f2f2;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.loadingLogo {
    font-size: 1.75rem;
}

@media (min-width: 992px) {
    .chatEmptyState {
        padding-top: 3.75rem;
    }

    .chatEmptyStateTitle {
        font-size: 2.75rem;
    }

    .chatInput {
        padding: 0.75rem 1.5rem 1.5rem;
    }

    .chatMessageGpt {
        max-width: 80%;
        min-width: 31.25rem;
    }
}
